<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="img/icons/icon-48x48.png" />

	<link rel="canonical" href="https://demo-basic.adminkit.io/" />

    <title>@ViewData["Title"] - R - A - R</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

</head>
<body>
    <div class="wrapper">
     
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="~/">
                    <span class="align-middle">R-A-R</span>
                </a>

                <ul class="sidebar-nav">
                   
                   <!-- Login / Register Nav -->
                    <li class="sidebar-header">
                        Login / Register
                    </li>                       
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="~/UserAccount/Login">
                            <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Sign In</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="~/UserAdmin/Create">
                            <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Sign Up</span>
                        </a>
                    </li>

                    <!-- Home Page Nav  -->

                    @*<li class="sidebar-header">
                        About & More
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="~/Home/FAQ">
                            <i class="align-middle" data-feather="help-circle"></i> <span class="align-middle">F-A-Q</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="~/Home/Contact">
                            <i class="align-middle" data-feather="mail"></i> <span class="align-middle">Contacts</span>
                        </a>
                    </li>

                     <li class="sidebar-item">
                        <a class="sidebar-link" href="~/Home/About">
                            <i class="align-middle" data-feather="message-circle"></i> <span class="align-middle">About</span>
                        </a>
                    </li>*@

                   
                </ul>

                
            </div>
        </nav>
      
        <div class="main">
            
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        
                    </ul>
                </div>
            </nav> 
            

            <main class="content">
                @RenderBody()            
            </main>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>R - A - R</strong></a> &copy;
                            </p>
                        </div>
                        <div class="col-6 text-end">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#" >Support</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#" >Help Center</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#" >Privacy</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#" >Terms</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/js/app.js" asp-append-version="true"></script>    
    @await RenderSectionAsync("Scripts", required: false)

    <script>
		document.addEventListener("DOMContentLoaded", function() {
			var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
			var gradient = ctx.createLinearGradient(0, 0, 0, 225);
			gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
			gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
			// Line chart
			new Chart(document.getElementById("chartjs-dashboard-line"), {
				type: "line",
				data: {
					labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
					datasets: [{
						label: "Road Accidents",
						fill: true,
						backgroundColor: gradient,
						borderColor: window.theme.primary,
						data: [
							2115,
							1562,
							1584,
							1892,
							1587,
							1923,
							2566,
							2448,
							2805,
							3438,
							2917,
							3327
						]
					}]
				},
				options: {
					maintainAspectRatio: false,
					legend: {
						display: false
					},
					tooltips: {
						intersect: false
					},
					hover: {
						intersect: true
					},
					plugins: {
						filler: {
							propagate: false
						}
					},
					scales: {
						xAxes: [{
							reverse: true,
							gridLines: {
								color: "rgba(0,0,0,0.0)"
							}
						}],
						yAxes: [{
							ticks: {
								stepSize: 1000
							},
							display: true,
							borderDash: [3, 3],
							gridLines: {
								color: "rgba(0,0,0,0.0)"
							}
						}]
					}
				}
			});
		});
	</script>
  
</body>
</html>
