@model AccidentReport

@{
    
}

<div class="card" >   
    <div class="card-header">
        <h4>Accident Details</h4>
    </div>
    <div class="card-body" style="background-color: transparent">
        <div class="col-sm-12">
            <span class="card-title mb-0">                  
                <h5 class="align-middle align-items-cente fw-bold text-danger">@Model.AccidentID</h5>                   
                <h5 class="align-middle align-items-cente fw-bold text-danger">@Model.AccidentReportID</h5>                   
                <h5 class="align-middle align-items-cente fw-bold text-danger">@Model.AccidentDate</h5>                   
                <h5 class="align-middle align-items-cente fw-bold text-danger">@Model.AccountID</h5>                   
            </span>
        </div>
        
    </div>
</div>

   


