@{
    ViewData["Title"] = "Access Denied";
    Layout = "_Layout";
}



<div class="text-center">
    <h1 class="display-4">Road Accident Reporting</h1>   
    <hr />

    <div class="bg-danger mb-1 p-2 text-white">
        Access Denied
    </div>
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">
        Return to Homepage
    </a>
</div>