@{
    ViewData["Title"] = "FAQ";
}

<div class="container-fluid p-0">
    <h1 class="h3 mb-3">F A Q</h1>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">FAQ - Road Accident Reporting</h5>
                </div>
                <div class="card-body">
                    <iframe title="Dashboard" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiNDMwMWMxZTItOTQ1NC00MzZmLWIyYzYtODI5ZTFhZDIzMDZhIiwidCI6ImY1ZmYwODVlLTkxMDctNGEwNy1iMzVmLTNjMGMzMjkxOWViNyJ9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>

</div>