@{
    ViewData["Title"] = "Home";
    Layout = "_HomeLayout";
}

<div class="container-fluid p-0">
   
    <div class="row">
       
        <div class="col-12 col-md-12" >
            <h2 class="text-center mb-2 mt-2" style="font-weight:600;">R A R - Road Accidents Statistics in Real-time </h2> 
            <hr />

            <h1 class="h3 mb-3"><strong>Analytics</strong> Dashboard</h1>
           
                <div class="embed-responsive embed-responsive-1by1">
                    <iframe title="Report Section" width="1000px" height="700px" class="embed-responsive-item" src="https://app.powerbi.com/view?r=eyJrIjoiM2I5YmM3OGEtMThhNS00YjZkLTg0MDEtZDcyN2U5NTc3YzI0IiwidCI6ImY1ZmYwODVlLTkxMDctNGEwNy1iMzVmLTNjMGMzMjkxOWViNyJ9" frameborder="0" allowFullScreen="true"></iframe>                   
                </div>
                   
        </div>
      
       
    </div>
</div>

