@{
    ViewData["Title"] = "Home";
   
}

<div class="container-fluid p-0">
   
    <div class="row">
       
        <div class="col-12 col-md-12" >
           
            <h1 class="h3 mb-3"><strong>Analytics</strong> Dashboard</h1>
            <hr />
           
            <div class="embed-responsive embed-responsive-16by9">
                <iframe title="Report Section" width="1000px" height="700px" class="embed-responsive-item" src="https://app.powerbi.com/view?r=eyJrIjoiM2I5YmM3OGEtMThhNS00YjZkLTg0MDEtZDcyN2U5NTc3YzI0IiwidCI6ImY1ZmYwODVlLTkxMDctNGEwNy1iMzVmLTNjMGMzMjkxOWViNyJ9" frameborder="0" allowFullScreen="true"></iframe>                                
            </div>
                   
        </div>
             
    </div>
</div>

