@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}

<div class="container-fluid p-0">

    <h1 class="h3 mb-3"><strong>Analytics</strong> Dashboard</h1>
    <hr />

    <div class="row">
        <div class="embed-responsive embed-responsive-16by9">                     
            <iframe title="Dashboard" width="1000px" height="700px" class="embed-responsive-item" src="https://app.powerbi.com/view?r=eyJrIjoiNDMwMWMxZTItOTQ1NC00MzZmLWIyYzYtODI5ZTFhZDIzMDZhIiwidCI6ImY1ZmYwODVlLTkxMDctNGEwNy1iMzVmLTNjMGMzMjkxOWViNyJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>    
   
</div>